@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
body{
    background: var(--primary-light);
    font-family: 'Noto Sans', sans-serif;
}
*{
    /* border: 1px solid #000f; */
    margin: 0px;   
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}  
:root{
    /* Backgrounds */
    --primary-light: #fef6f9;
    --pink-light: #fcecec;
    --second-white: #ffffff; 
    --yellow-light: #fef3e0;
    /* texts */
    --blue:#1f3347;
    --grey: #70717b;
    --violet: #6347f9;
}

h1{
    font-size: 70px;
    font-weight: 900;

  }
button, .container-benefits-3 span.price{
    font-family: 'Noto Sans', sans-serif;
}
h1, h2, h3, h4, h5, a, span.experience{
    font-family: 'lato', sans-serif;
    color: var(--blue);
    text-shadow: 2px 1px 3px #bababa;
}

h2{
    color: var(--violet);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 2%;
}
h3{
    font-size: 60px;
    margin-bottom: 5%;
    font-weight: 800;

}
h4{
    font-size: 30px;
    margin-bottom: 2%;
    font-weight: 800;

}
h5{
    font-size: 22px;
    margin-bottom: 2%;
    font-weight: 800;

}
p, a, [type="submit"], span.verified{
    font-family: 'Montserrat', sans-serif;
}
p, span, footer a{
    font-weight: 600;
    font-size: 22px;
    color: var(--grey);
    letter-spacing: 0.8px; 
    word-spacing: 2px;
    line-height: 22px;
}

a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;

}

header{
    margin-bottom: 3%;
}
main, section{
    margin-bottom: 10%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section, footer{
    width: 1360px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
input, button{
    border: none;
}
header{
    display: flex;
    justify-content: center;
}
nav{
    width: 1360px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
a.logo-travigo{
    text-indent: -140px;
    overflow: hidden;
    width: 140px;
    height: 70px;
    background-image: url(./icons/logo-travigo.png);
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: center center;
}
div.login{
    width: 150px;
    height: 60px;
    align-items: center;
}
a.about::after{
    content: " ";
    display: block;
    bottom: 2px;
    width: 26px;
    height: 2.5px;
    margin-left: auto;
    margin-right: auto;
    background:#6347f9;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
a.services, a.pricing{
    padding-right: 18px;
    background-image: url(./icons/angle-down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 12px;
}
a.sign-up{
    color: var(--second-white);
    background: var(--violet);
}
a.sign-up{
    padding: 9% 13%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    
}
.big-world{
    width: 30vw;
}
form.location{
    /*align-items: center;
    justify-content: center;
    *//*width: 90%;
    *//*height: 30px;
    */padding: 3%;
    border-radius: 40px;
    background: var(--second-white);
    box-shadow: 13px 10px 8px -10px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
form.location input[type="map"],input[type="date"]{
    padding: 10px;

}
form.location input[type="submit"]{
    width: 80px;
    height: 80px;
    color: var(--second-white);
    background: var(--violet);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 13px 10px 8px -10px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
form.location input[type="submit"]{
    text-indent: -150px;
    overflow: hidden;
    background-image: url(./icons/search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px;
    cursor: pointer;
}

div.serve{
    width: 300px;
}
div.container-benefits{
    width: 1000px;
    gap: 30px;
    justify-content: flex-end;
    align-items: flex-end;
}
div.benefits{
    width: 300px;
}
div.benefits h4{
    margin-bottom: 8%;
}
h4.icon-choises{
    padding-top: 110px;
    background-image: url(./icons/en-todo-el-mundo.png);
    background-size: 80px;
    background-position: top left;
    background-repeat: no-repeat;
    /* background-image: url(); */
}
h4.icon-tour{
    padding-top: 110px;
    background-image: url(./icons/bolsa-de-viaje.png);
    background-size: 100px;
    background-position: top left;
    background-repeat: no-repeat;
}
h4.icon-booking{
    padding-top: 110px;
    background-image: url(./icons/ticket.png);
    background-size: 100px;
    background-position: top left;
    background-repeat: no-repeat;
}





.cards div{
    width: 400px;
}
.card-1-1, .card-2-1, .card-3-1{
    gap: 15px;
    margin-top: 400px;
}
.cards img{
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.img-container-buttom{
    position: absolute;
}
.btn-price{
    position: relative;
    left: 270px;
    top: 20px;
    z-index: 2;
}
.btn-price{
    background-color: #ffffff;
    color: var(--violet);
    font-size: 28px;
    font-weight: 900;
    box-shadow: 13px 14px 13px -11px rgba(0,0,0,0.2);
    border-radius: 30px;
    /* text-shadow: 2px 1px 2px #bababa; */

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    /*width: 100px;
    height: 50px;
    */padding: 10px 20px;
    cursor: pointer;
}









div.calific{
    gap: 5px;
    justify-content:flex-start;
    align-items: center;
}
.container-icon-star{
    /* width: 40px; */
    padding: 10px 5px 10px 50px;
    background: #fef4e1;
    background-image: url(./icons/star.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}


/* -------------------  Seccion our experience ---------------------------- */
.img-experience img{
    position: absolute;
}

div.container-experience{
    position: relative;
    bottom: -500px;
    right: -200px;
    padding: 30px;
    gap: 20px;
    background-color: var(--second-white);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 13px 10px 8px -10px rgba(170, 170, 170, 0.1),0px 10px 15px -3px rgba(96, 95, 95, 0.1);
}
div.verified{
    background-color: var(--second-white);
    width: 140px;
    gap: 15px;
    /* height: 250px; */
    padding: 20px;
    position: relative;
    bottom: -100px;
    right: 60px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 13px 10px 8px -10px rgba(170, 170, 170, 0.1),0px 10px 15px -3px rgba(96, 95, 95, 0.1);

}

span.icon-verified{
    font-size: 35px;
    color: var(--blue);
    font-weight: 700;
    text-align: center;
    padding-top: 120px;
    background-image: url(./icons/verificado\ copia.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 90px;
}
span.verified{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}


div.experience{
    width: 700px;
    gap: 40px;
}
span.experience{
    font-size: 22px;
    letter-spacing: 1.2px;
    font-weight: 800;
    color: var(--blue);
    text-shadow: none;
}
/* div.emojis{
    width: 300px;
} */
/* span.icon-verified{
    padding-top: 100px;
    background-image: url(./img/verificacion-medalla.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 150px;
} */
div.emojis button.emojis{
    font-size: 36px;
    background: var(--primary-light);
    width: 30px;
    cursor: pointer;
}
.container-benefits-2{
    width: 700px;
    justify-content: space-around;
}
.container-benefits-3{
    width: 160px;
    gap: 40px;
    height: 150px;

}
.container-benefits-3 span.price{
    font-size: 50px;
    color: var(--violet);
    font-weight: 900;
}


section.beauty-world{
    background-color: var(--pink-light);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    justify-content: center;
    align-items: center;
}
div.beauty-world{
    align-items: center;
    text-align: center;
    width: 80%;
    gap: 60px;
    padding: 130px 0px;
}
div.beauty-world h3{
    margin: 0px;
}
button.started{
    font-size: 22px;
    font-weight: 300;
    padding: 20px;
    cursor: pointer;
    box-shadow: 13px 10px 8px -10px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

}
/* footer div{
    gap: 20px;
} */
footer .social-media, footer .get-touch{
    width: 200px;
}
footer h5{
    text-shadow: none;
    font-size: 22px;
}
footer div a, footer p{
    font-size: 16px;
    text-shadow: none;
}
footer div.icons-social-media{
    justify-content: space-evenly;
}
footer div.icons-social-media a{
    width: 30px;
    height: 30px;
    text-indent: 30px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
a.icon-instagram{
 background-image:  url(./icons/instagram.svg);
}
a.icon-facebook{
    background-image: url(./icons/facebook.svg);
}
a.icon-Twiter{
    background-image: url(./icons/twitter.svg);
}