
body{
    background: var(--primary-light);
}
*{
    /* border: 1px solid #000f; */
    margin: 0px;   
}  
:root{
    /* Backgrounds */
    --primary-light: #fef6f9;
    --pink-light: #fff5f5;
    --second-white: #ffffff; 
    --yellow-light: #fef3e0;
    /* texts */
    --blue:#1f3347;
    --grey: #70717b;
    --violet: #6347f9;
}

h1{
    font-size: 70px;
    font-weight: 900;

  }
h1, h2, h3, h4, a{
    font-family: 'lato', sans-serif;
    color: var(--blue);
    text-shadow: 2px 1px 3px #bababa;
}

h2{
    color: var(--violet);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 2%;
}
h3{
    font-size: 60px;
    margin-bottom: 5%;
    font-weight: 800;

}
h4{
    font-size: 30px;
    margin-bottom: 2%;
    font-weight: 800;

}
p, a, [type="submit"]{
    font-family: 'Montserrat', sans-serif;
}
p, span{
    font-weight: 600;
    font-size: 22px;
    color: var(--grey);
    letter-spacing: 0.8px; 
    word-spacing: 2px;
    line-height: 22px;
}

a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;

}

header{
    margin-bottom: 3%;
}
main, section{
    margin-bottom: 10%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    width: 1360px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
input, button{
    border: none;
}
header{
    display: flex;
    justify-content: center;
}
nav{
    width: 1360px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
a.logo-travigo{
    text-indent: -140px;
    overflow: hidden;
    width: 140px;
    height: 70px;
    background-image: url(./icons/logo-travigo.png);
    background-size: 140px;
    background-repeat: no-repeat;
    background-position: center center;
}
div.login{
    width: 150px;
    height: 60px;
    align-items: center;
}
a.about::after{
    content: " ";
    display: block;
    bottom: 2px;
    width: 26px;
    height: 2.5px;
    margin-left: auto;
    margin-right: auto;
    background:#6347f9;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
a.services, a.pricing{
    padding-right: 18px;
    background-image: url(./icons/angle-down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 12px;
}
a.sign-up{
    color: var(--second-white);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: var(--violet);
    padding: 9% 13%;
}
.big-world{
    width: 30vw;
}
form.location{
    /*align-items: center;
    justify-content: center;
    *//*width: 90%;
    *//*height: 30px;
    */padding: 3%;
    border-radius: 40px;
    background: var(--second-white);
    box-shadow: 13px 10px 8px -10px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
form.location input[type="map"],input[type="date"]{
    padding: 10px;

}
form.location input[type="submit"]{
    width: 80px;
    height: 80px;
    color: var(--second-white);
    background: var(--violet);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 13px 10px 8px -10px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
form.location input[type="submit"]{
    text-indent: -150px;
    overflow: hidden;
    background-image: url(./icons/search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px;
    cursor: pointer;
}

div.serve{
    width: 300px;
}
div.container-benefits{
    width: 1000px;
    gap: 30px;
    justify-content: flex-end;
    align-items: flex-end;
}
div.benefits{
    width: 300px;
}
div.benefits h4{
    margin-bottom: 8%;
}
h4.icon-choises{
    padding-top: 110px;
    background-image: url(./icons/en-todo-el-mundo.png);
    background-size: 80px;
    background-position: top left;
    background-repeat: no-repeat;
    /* background-image: url(); */
}
h4.icon-tour{
    padding-top: 110px;
    background-image: url(./icons/bolsa-de-viaje.png);
    background-size: 100px;
    background-position: top left;
    background-repeat: no-repeat;
}
h4.icon-booking{
    padding-top: 110px;
    background-image: url(./icons/ticket.png);
    background-size: 100px;
    background-position: top left;
    background-repeat: no-repeat;
}





.cards div{
    width: 400px;
}
.card-1-1, .card-2-1, .card-3-1{
    gap: 15px;
}
.cards img{
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
div.calific{
    gap: 5px;
    justify-content:flex-start;
    align-items: center;
}
.container-icon-star{
    width: 40px;
    padding: 10px 5px 10px 50px;
    background: #fef4e1;
    background-image: url(./icons/star.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}